.container {
    /* position: absolute;
    inset: 0; */

    position: relative;

    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & > h2 {
        font-family: var(--secondary-font);
        letter-spacing: 1.5px;
    }
}

.spinner {
    position: relative;
    height: 56px;
    width: 56px;
    border-radius: 50%;

    background: conic-gradient(
        from 0deg,
        transparent 0%,
        var(--secondary-color) 100%
    );

    mask: radial-gradient(farthest-side, transparent calc(100% - 8px), #000 0);
    -webkit-mask: radial-gradient(
        farthest-side,
        transparent calc(100% - 8px),
        #000 0
    );

    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
