:root {
    --primary-color: #0e4c89;
    --primary-highlight: #002855;
    --primary-alpha: #0e4b8953;
    --secondary-color: #489d46;
    --secondary-highlight: #5cb65a;
    --secondary-alpha: #5cb65a39;

    --font-color: #404041;

    --primary-font: 'Poppins', sans-serif;
    --secondary-font: 'Permanent Marker', cursive;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    outline-color: var(--primary-color);
}

::selection {
    background-color: var(--secondary-color);
    color: #fff;
}

body,
#root {
    min-height: 100vh;
}

body {
    font-family: var(--primary-font);
    font-weight: 300;
    color: var(--font-color);
    line-height: 1.5;

    background-color: rgb(250, 250, 250);
}

#root {
    display: flex;
    flex-direction: column;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

nav > ul > li > a.active {
    text-decoration: underline;
    text-underline-offset: 8px;
}
