.container {
    display: flex;
    justify-content: space-between;

    height: 90px;
    width: 100%;

    padding: 0.75em;

    background: linear-gradient(
        to right,
        var(--primary-color) 0%,
        var(--secondary-color) 100%
    );

    @media (max-width: 1010px) {
        padding-inline: 0;
    }
}

.container > div,
.container > div > a {
    display: flex;
    height: 100%;

    &:has(a > .logo):not(:has(button)) {
        margin-left: 1em;
    }
}

.container > div > a {
    width: 195px;
}

.mobile_btn {
    display: none;

    height: fit-content;
    align-self: center;

    background: none;
    border: none;
    margin: 0;

    padding: 0.25em 0.5em;

    font: inherit;
    font-size: 2rem;
    color: #fff;

    @media (max-width: 1010px) {
        display: block;
    }
}

.nav {
    display: flex;
    align-items: center;

    @media (max-width: 1010px) {
        position: fixed;
        top: 90px;
        left: 0;
        z-index: 999;

        height: calc(100vh - 90px);
        width: 100%;

        background: linear-gradient(
            to right,
            var(--primary-color) 0%,
            var(--secondary-color) 100%
        );
        border-top: 2px solid #e2e8f0;

        display: flex;
        flex-direction: column;
        justify-content: center;

        transform: translateX(100%);
        transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.nav.open {
    @media (max-width: 1010px) {
        transform: translateX(0);
    }
}

.nav > ul {
    display: flex;
    gap: 0.5em;
    align-items: center;

    list-style: none;

    @media (max-width: 1010px) {
        flex-direction: column;
        gap: 1em;
        width: 100%;
        padding: 0;
    }
}

.nav > ul > li > button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;

    font: inherit;
    color: inherit;
    text-align: inherit;

    cursor: pointer;
}

.nav > ul > li > a {
    padding: 0.5em 1em;
    text-decoration: none;

    font-size: 1.25rem;
    font-weight: 400;
    color: #fff;

    transition: opacity 0.3s ease;

    &:hover {
        color: rgba(255, 255, 255, 0.5);
    }

    @media (max-width: 1010px) {
        font-family: var(--secondary-font);
        letter-spacing: 1.5px;
        font-size: 2rem;
        width: 100%;
        text-align: center;
    }
}

.nav > ul > li:nth-of-type(2) > a {
    border-right: 2px solid rgba(255, 255, 255, 0.3);

    @media (max-width: 1010px) {
        border: none;
    }
}

.nav > ul > li:last-of-type > a {
    border-left: 2px solid rgba(255, 255, 255, 0.3);

    @media (max-width: 1010px) {
        border: none;
    }
}

.home {
    display: none;

    @media (max-width: 1010px) {
        display: block;
    }
}
